* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    footer {
        text-align: center;
        background-color: #ffe078;
        color: #666666;
        padding: 15px 0;
        p {
            color: #764c2b;
            font-size: 0.8rem;
        }
    }
    
    .wrapper {
        display: flex;
        flex-direction: column;
        padding: 10px;
        flex: 1;
    }

    .full-height {
        height: 100vh;
    }
    
    .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .position-ref {
        position: relative;
    }
    
    .top-right {
        position: absolute;
        right: 10px;
        top: 18px;
    }
    
    .content {
        text-align: center;
        p {
            margin-bottom: 15px;
        }
        .main-image {
            width: 100%;
            max-width: 300px;
        }
        .order-btn {
            display: block;
            background-color: #ff685e;
            text-decoration: none;
            color: white;
            padding: 10px;
            border-radius: 3px;
            box-shadow: 1px 3px 4px #0000004a;
            font-size: 1.1rem;
            transition: .3s all ease;
            &:hover {
                background-color: #fa5046;
                box-shadow: none;
            }
        }
    }
    
    .links {
        a {
            color: #636b6f;
            padding: 0 25px;
            font-size: 13px;
            font-weight: 600;
            letter-spacing: .1rem;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
    
    .m-b-md {
        margin-bottom: 15px;
    }
    
    .title {
        font-size: 50px;
        text-transform: uppercase;
        border-bottom: 2px solid;
        padding: 12px 0;
    }
}
