* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    footer {
        text-align: center;
    }
    
    .wrapper {
        flex: 1;
    }
    .full-height {
        height: 100vh;
    }
    
    .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .position-ref {
        position: relative;
    }
    
    .top-right {
        position: absolute;
        right: 10px;
        top: 18px;
    }
    
    .content {
        text-align: center;
    }
    
    .links {
        a {
            color: #636b6f;
            padding: 0 25px;
            font-size: 13px;
            font-weight: 600;
            letter-spacing: .1rem;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
    
    .m-b-md {
        margin-bottom: 15px;
    }
    
    .main-image {
        max-width: 300px;
    }
    
    .title {
        font-size: 50px;
        text-transform: uppercase;
        border-bottom: 2px solid;
        padding: 12px 0;
    }
}
